<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>compleet.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i|Roboto:300,300i,700,700i" rel="stylesheet">

    <!-- Border Box CSS -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- compleet Style Sheet CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Create Format Package -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  </head>

  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar-ai">
      <span class="header-ai">compleet.ai</span>
    </nav>

    <!-- New List Item -->
    <section class="container new-list">
      <form action="/" method="POST">
        <textarea name="text" placeholder="What do you want to do?"></textarea>
        <button type='submit'>
          ADD ITEM
        </button>
      </form>
    </section>

    <!-- Categories -->

    <!-- WATCH Category -->
    <section id='firstCategory' class='container category watch'>
      <button id='toWatch' data-toggle='collapse' data-target='#watchList'>TO WATCH</button>
      <section id='watchList' class='collapse'>
        
        <button type="button" class="btn btn-primary btn-outline listItem" data-toggle="modal" data-target="#listModal">
            <label class="check">
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label> 
            <p>Shrek</p>
        </button>
       
        <button type="button" class="btn btn-primary listItem" data-toggle="modal" data-target="#listModal">
          <label class="check">
            <input type="checkbox" >
            <span class="checkmark"></span>
          </label> 
          <p>Star Wars</p>
        </button>
      </section>
    </section>

    <!-- READ Category -->
    <section class='container category read'>
      <button id='toRead' data-toggle='collapse' data-target='#readList'>TO READ</button>
      <section id='readList'>
          <button type="button" class="btn btn-primary listItem" data-toggle="modal" data-target="#listModal">
              <label class="check">
                <input type="checkbox" >
                <span class="checkmark"></span>
              </label> 
              <p>Harry Potter</p>
            </button>
      </section>
    </section>

    <!-- EAT Category -->
    <section class='container category eat'>
      <button id='toEat' data-toggle='collapse' data-target='#eatList'>TO EAT</button>
      <section id='eatList'>
          <button type="button" class="btn btn-primary listItem" data-toggle="modal" data-target="#listModal">
            <label class="check">
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label> 
            <p>Cafe Medina</p>
          </button>
      </section>
    </section>

    <!-- BUY Category -->
    <section class='container category buy'>
      <button id='toBuy' data-toggle='collapse' data-target='#buyList'>TO BUY</button>
      <section id='buyList'>
      </section>
    </section>

    <!-- OTHER Category -->
    <section class='container category other'>
      <button id='toOther' data-toggle='collapse' data-target='#otherList'>OTHER</button>
      <section id='otherList'>
      </section>
    </section>

    <!--MODAL-->

    <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="listModalTitle">Shrek</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body">

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section> 
    
    <!-- Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- JS APP -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </body>
</html>

