body {
  background-color: #486ecf;
}

.container {
  margin-top: 30px;
}

textarea {
  text-align: center;
}

.btn {
  border: none;
}

.btn-secondary {
  background-color: #eee;
  color: grey;
}

#addButton {
  background-color: orange;
}

#toWatch {
  background-color: #9F6DE4;
}

#toRead {
  background-color: #69BC75;
}

#toEat {
  background-color: #E47C6D;
}

#toBuy {
  background-color: #E1D371;
}

#toOther {
  background-color: #65CAD9;
}
